
.semaforo {
        
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 200px;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
        margin: 100px;

.rojo {
        
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 50px;
        margin-bottom: 10px;
        filter: brightness(50%)
}
.amarillo {
        
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: yellow;
        border-radius: 50px;
        margin-bottom: 10px;
        filter: brightness(50%)
}
.verde {
        
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: rgb(21, 217, 21);
        border-radius: 50px;
        margin-bottom: 10px;
        filter: brightness(50%)
}
.encendido {

        filter: brightness(100%)
        
}